
@import url('https://fonts.googleapis.com/css2?family=Suwannaphum:wght@100;300;400;700;900&display=swap');
body{
  background-color: rgb(205, 205, 205);
}

.active{
  background-color:black;
  width: fit-content;
  padding: 5px;
  color: black;
  border-radius: 6px;
  font-size: 20px;
}
.suwannaphum-thin {
  font-family: "Suwannaphum", serif;
  font-weight: 100;
  font-style: normal;
}

.suwannaphum-light {
  font-family: "Suwannaphum", serif;
  font-weight: 300;
  font-style: normal;
}

.suwannaphum-regular {
  font-family: "Suwannaphum", serif;
  font-weight: 400;
  font-style: normal;
}

.suwannaphum-bold {
  font-family: "Suwannaphum", serif;
  font-weight: 700;
  font-style: normal;
}

.suwannaphum-black {
  font-family: "Suwannaphum", serif;
  font-weight: 900;
  font-style: normal;
}
